@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
html {
  scroll-behavior: smooth;
}
body, h1, h2, h3, h4, h5, h6  button a{
  font-family: 'Source Sans Pro', sans-serif;
}

.text-center{
  text-align: center;
}


::placeholder {
  color: #000000;
  font-size: 16px;
  text-align: center;
}

nav{
   background-color: #ffffff;
   padding-left: 40px;
   padding-right: 40px;
   height: 80px;
   padding-top: 5px;
   padding-bottom: 5px;
 }

.boton-login{
   background-color: #2569a9;
   color: #ffffff !important;
   font-weight: bold;
   border-radius: 15px;
   box-shadow: 4px 4px 4px #565555;
}

.boton-login:hover{
  background-color: #4780b5 !important;
  box-shadow: 4px 4px 10px #565555;
}

#nav-mobile li a{
  color: #000000;
  font-size: 18px;
}

#nav-mobile li a:hover{
border-bottom: 2px solid #2569a9;
font-weight: bold;
}

#nav-mobile li a:active{
border-bottom: 2px solid #2569a9;
font-weight: bold;
}

.sidenav-trigger{
  color: #000 !important;
  font-size: 29px !important;
  margin-top: 11px !important;
}

main{
  padding: 30px !important;
  background-size: cover;
}


h1{
  text-transform: uppercase;
  font-size: 3em !important;
  font-weight: bold !important;
  margin-bottom: 1px;
}

h2{
  font-size: 2.5em !important;
}

.home-subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #616161;
  margin-top: 1px;
}

.card{
  padding: 20px;
  border-radius: 30px !important;
  box-shadow: 5px 5px 13px #5e5d5d !important;

}

.vis-card{
  border-radius: 30px;
}

.card-title{
  font-weight: 700 !important;
  padding: 5px;
  text-transform: uppercase;
}

.home-learn-more a{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #015193 !important;
  text-transform: capitalize !important;
}

hr{
  color: #128AF9;

}

.service-card{
  padding: 20px;
box-shadow: 5px 5px 49px #999 !important;
margin: 20px;
height: 452px;
}

.service-card-title{
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 32px;
text-align: center;
color: #128AF9;
padding: 10px;
}

.service-card-text{
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 23px;
text-align: center;
color: #000000;
padding: 10px;
}

.newsletter-home{
  background-color: #128AF9;
  padding: 30px;
  text-align: center;
}

.news-title{
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 10px;
text-align: center;
color: #FFFFFF;
}

.news-text{
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}

.home-form-fields{
  display: flex;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

input[type="text"]{
  background: #FFFFFF !important;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25) !important;
border-radius: 15px !important;
width: 50% !important;
margin: 15px !important;
}

input[type="email"]{
  background: #FFFFFF !important;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25) !important;
border-radius: 15px !important;
width: 50% !important;
margin: 15px !important;
}

input[type="number"]{
  background: #FFFFFF !important;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25) !important;
border-radius: 15px !important;
width: 50% !important;
margin: 15px !important;
}

input[type="submit"]{

  background: #015193 !important;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
border-radius: 15px !important;
color: #ffffff !important;
width: 21%;
padding: 8px;
margin: 10px;
font-weight: bold;
cursor: pointer;
}

.featured-post{
  display: flex;;
}

.featured-post-img img{
  width: 100%;
}

.featured-post-tit{
  font-size: 18px;
font-weight: bold;
text-decoration: underline;
}

.home-learn-more p{
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #015193 !important;
text-transform: capitalize !important;
}

.featured-post{
  padding: 10px;
border-radius: 30px !important;
box-shadow: 2px 2px 8px #5e5d5d !important;
margin: 20px;
}

.featured-post:hover {
  box-shadow: 1px 1px 15px #5e5d5d !important;
  padding: 5px;
}


/****************** FOOTER ******************/

footer{
  color: white;
}

.footer-bg{
background-color: #024668;
padding: 15px;
}

.footer-logo{
  width: 13%;
}

.line-footer{
  color: #ffffff;
}

.footer-title{
  color: white;
font-size: 28px;
font-weight: bold;
}

.footer-text{
  color: white;
font-size: 18px;
}

.footer-heading{
  font-size: 18px;
 font-weight: bold;
 text-shadow: 2px 2px 15px #110202;
 text-decoration: underline;
}


/* SERVICES */

.product-img  img{
  width: 100%;
padding: 10px;
box-shadow: 4px 4px 9px #686767;
}

/* PRICING */

.plan-col{
  text-align: center;
border: 2px solid #128AF9;
padding: 2%;
margin: 20px;
width: 22% !important;

}

.plan-name{
  font-size: 31px;
font-weight: bold;
text-transform: uppercase;
text-align: center;
}

.plan-price{
  font-size: 25px;
color: #128af9;
text-align: center;
}

.plan-details{
  line-height: 4em;
  font-size: 18px;
  text-align: justify;
  padding-left: 15px;
}

.plan-button-featured{
  text-align: center;
}

.plan-button button{
  background: #015193;
border-radius: 15px;
color: #fff;
padding: 10px 51px 10px 43px;
margin: 20px;
cursor: pointer;
border: 1px solid #015193;
box-shadow: 3px 3px 3px #3e6f98;
font-weight: bold;
}

.plan-button-featured button{
  background: #ffffff;
border-radius: 15px;
color: #015193;
padding: 10px 51px 10px 43px;
margin: 20px;
cursor: pointer;
border: 1px solid #ffffff;
box-shadow: 3px 3px 3px #3e6f98;
font-weight: bold;
}

.plan-featured{
  background-color: #128af9;
color: #fff;
border: 2px solid #128AF9;
margin: 20px;
}


/* INSIGHTS */

.featured-post-insights{
  border: 1x solid #000000;
  box-shadow: 3px 3px 3px #000000;
  padding: 20px;
  background-color: #2569a9;
  color: white;
}

.featured-post-image img{
  width: 100%;
  border-radius: 15px;
}

.featured-pots-info{
  padding-top: 20px !important;
}

.post-date{
  line-height: 73px;
font-weight: bold;
}

.readmore-button{
  background-color: white;
color: #2569a9;
padding: 12px;
border-radius: 15px;
box-shadow: 3px 3px 20px #000;
font-weight: bold;
border: 0px;
}

.featured-pots-title{
  font-size: 28px;
font-weight: bold;
line-height: 1.5em;
}

.post-image img{
  width: 100%;
  border-radius: 30px;
}

.post-title{
  font-size: 24px;
font-weight: bold;
text-transform: uppercase;
}

.post-readmore{
  font-size: 20px;
color: #2569a9;
font-weight: bold;
}

.post-card{
  padding: 20px;
box-shadow: 4px 4px 4px #767474;
border-radius: 30px;
border: 1px solid #767474;
}

.lastest-post{
  margin: 20px;
background-color: #f4f4f4;
padding: 10px;
}

.lastest-post:hover {
  box-shadow: 1px 1px 15px #5e5d5d !important;
  padding: 5px;
}

.tab-vis a{
  border: 1px solid #2569a9;
  margin: 0px 15px 0px 15px;
  border-radius: 15px;
  color: #2569a9 !important;
  font-weight: bold;
  font-size: 18px !important;
}

 .tab-vis .active {
  background-color: #2569a9 !important;
  color: #ffffff !important;
  font-weight: bold;
  font-size: 18px !important;
}

.tab-vis a:hover{
  background-color: #2569a9 !important;
  color: #ffffff !important;
  font-weight: bold;
  font-size: 18px !important;
}

.form-section{
  background-color: #128af9;
  padding: 30px !important;
}


.form-fiels{
  display: flex;

}

textarea{
  background-color: #fff;
border-radius: 15px;
box-shadow: 4px 4px 10px #393939;
}

.boton-enviar{
  text-align: center;
}

.form-title{
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 26px;
}
.contact-subtitle{
font-weight: bold;
}

.contact-info{
  padding-left: 10% !important;
  font-size: 20px;
}
